@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

body {
  @apply bg-white text-slate-900;
}

/* Better markdown/html defaults */
.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply text-emerald-700 no-underline hover:underline;
}
